*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, #14012e, #0e6588, #14012e);
    padding: 10px;
}
.todo-app{
    width: 700px;
    max-width: 5240px;
    background-color: rgb(181, 160, 135);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: rgb(3, 3, 68);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width:50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 244, 249);
   /* border-radius: 30px;8*/
    padding-left: 15px;
    margin-right: 3px;
    margin-bottom: 25px;
}
input{
    flex: 1; 
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 30px;
    font-weight: 25px;
    font-size: 18px;
}
button{
    border: none;
    outline: none;
    padding: 15px 40px;
    background: #17701a;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-bottom: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: rgb(120, 118, 120);
    color: #fdfdfd;
    word-wrap: break-word;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: rgb(243, 243, 243);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute; 
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #f8f6f1;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover{
    background: #fc0202e0;

}
